<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Slack_Key" value="qUqesjTRbERBIyZl4Uh0mF420"/>
    <add key="Slack_Project" value="blacklight"/>
    <add key="Slack_Channel" value="#general"/>
    <add key="Slack_Emoji" value=":tfs:"/>
  </appSettings>
</configuration>